@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*:focus{
  outline: none;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: black;
  align-items: center;
  margin: 0;
}

video{
    object-fit: cover;
    width: 100%;
    height: 30rem;
    position: absolute;
    padding: -10px;
    z-index: -1;
}
.title{
  color: white;
  position: absolute;
  top: 10rem;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

#container {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#container input {
  width: 30%;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  padding: 0 4px;
  position: absolute;
  top: auto;
  text-align: center;
  border-radius: 10px;
  opacity: 0.5;
}

#results{
  padding: 0px;
  position: absolute;
  text-align: center;
  top: 20rem;
}

#results > li{
  list-style-type: none;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}
